:root {
    --code-color: #1f1f1f;
    --code-padding: 3px;
    --code-border-radius: 10px;
}

body {
    background-color: #0e0e0e;
    margin: 5%;
    color: #cccccc;
    font-size: 15pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scrollbar-width: 15px;
    scrollbar-color: #cccccc #0e0e0e;
}

hr {
    border: 3px solid #cccccc;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

code {
    background-color: var(--code-color);
    padding: var(--code-padding);
    border-radius: var(--code-border-radius);
    border: none;
}

.sourceCode {
    background-color: var(--code-color);
    padding: var(--code-padding);
    border-radius: var(--code-border-radius);
    border: none;
}
